<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- <add key="SMTPServerAddress" value="64.130.216.172"></add>
    <add key="EmailAddress" value="shafeian@saminray.com"></add>
    <add key="EmailPassword" value="11shafeian11"></add>
    <add key="SMTPServerAddress" value="mail.omidejelin.ir"></add>
    <add key="EmailAddress" value="hra@omidejelin.ir"></add>
    <add key="EmailPassword" value="100037"></add>
    <add key="SMTPServerAddress" value="91.98.96.235"></add>-->
    <add key="SMTPServerAddress" value="mail.omidejelin.ir"></add>    
    <add key="EmailAddress" value="emailbank@omidejelin.ir"></add>
    <add key="EmailPassword" value="LP2sumBj"></add>
    <add key="Port" value="25"></add>
   
     <add key="ConnectionString" value="server=JELINSLAVESMS\OFFLINE2008;database=MailInbox;uid=sa;pwd=(Jelin)SmsSeRver12!@"/>
    <!--<add key="ConnectionString" value="server=CAMSVR;database=MailInbox;uid=sa;pwd=123456"/>-->
    <!-- <add key="ConnectionString" value="server=GHASEMIAN-PC\SAJAD;database=MailInbox;uid=sa;pwd=saminsvr"/>-->
   <!-- <add key="ConnectionString" value="server=MAINSERVER\KHSERVER2008;database=MailInbox;uid=sa;pwd=saminsvr"/> -->   
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
